html {
  background: url("/Users/alvajonsson/Desktop/namnloÌˆs mapp/bilder/travel/bali/Foto 2019-03-17 10 43 49 (kopia).jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

div {
  margin-left: 0;
}

h1 {
  position: absolute;
  top: 10%;
  left: 7%;
  letter-spacing: 5px;
  color: white;
  font-family: 'BIZ UDGothic', sans-serif;
}

h5 {
  position: absolute;
  z-index: 1;
  color: inherit;
  bottom: 15%;
  right: 10%;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 150px;
  background-color: white;
}

p {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 7%;
  width: 30%;
  background-color: #AFA939;
  font-family: 'Amiri', serif;
  padding: 7px;
  letter-spacing: 2px;
}

hr {
  margin: 0 0 0 23px;
  width: 90%;
  position: absolute;
  text-align: center;
}

.meny {
  position: absolute;
  width: 35%;
  padding: 10px 0;
  background-color: #AFA939;
  top: 2%;
  right: 0%;
  text-align: center;
  z-index: 1;
}

.meny-tags {
  color: white;
  font-family: 'BIZ UDGothic', sans-serif;
  text-decoration: none;
  margin: 0 5px;
  letter-spacing: 3px;
}

.meny-tags:hover {
  text-decoration: underline overline;
}

/*the folders to come to the pictures on the next site/**/
.ruta1 {
  position: absolute;
  top: 10%;
  height: 30%;
  width: 40%;
  background-color: white;
  opacity: 0.1;
}

.ruta2 {
  position: relative;
  z-index: 1;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: white;
  opacity: 0.1;
}

.mapp-bali {
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 70%;
  left: 52%;
  height: 20%;
  width: 20%;
}

.folder-bali {
  position: absolute;
  z-index: 1;
  top: 0%;
}

.a-bali {
  position: absolute;
  z-index: 1;
  top: 40%;
  text-align: left;
  background-color: white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 5px 0 3px;
  letter-spacing: 2px;
}

.mapp-laos {
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 70%;
  right: 12%;
  height: 20%;
  width: 20%;
}

.folder-laos {
  position: absolute;
  z-index: 1;
  top: 0%;
}

.a-laos {
  position: absolute;
  z-index: 1;
  top: 40%;
  text-align: left;
  background-color: white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 5px 0 3px;
  letter-spacing: 2px;
}

.mapp-phillipines {
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 70%;
  left: 84%;
  height: 20%;
  width: 20%;
}

.folder-phillipines {
  position: absolute;
  z-index: 1;
  top: 0%;
}

.a-phillipines {
  position: absolute;
  z-index: 1;
  top: 40%;
  text-align: left;
  background-color: white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 5px 0 3px;
  letter-spacing: 2px;
}

.mapp-thailand {
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 50%;
  right: 12%;
  height: 20%;
  width: 20%;
}

.folder-thailand {
  position: absolute;
  z-index: 1;
  top: 0%;
}

.a-thailand {
  position: absolute;
  z-index: 1;
  top: 40%;
  text-align: left;
  background-color: white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 5px 0 3px;
  letter-spacing: 2px;
}

.mapp-vietnam {
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 43%;
  left: 84%;
  height: 20%;
  width: 20%;
}

.folder-vietnam {
  position: absolute;
  z-index: 1;
  top: 0%;
}

.a-vietnam {
  position: absolute;
  z-index: 1;
  top: 40%;
  text-align: left;
  background-color: white;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 5px 0 3px;
  letter-spacing: 2px;
}
